<% title t("devise.registrations.edit.title") %>

<header class="page-header">
  <div class="pull-right">
    <%= link_to t("devise.registrations.edit.change_password"), edit_account_password_path, class: "btn btn-default" %>
  </div>
  <h1>
    <%= t("devise.registrations.edit.title") %>
  </h1>
</header>

<%= simple_form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true } do |f| %>
  <%= f.error_notification %>
  <%= f.input :email, hint: (resource.pending_reconfirmation? ? t("devise.registrations.edit.unconfirmed_email", email: resource.unconfirmed_email) : nil) %>

  <hr/>

  <div>
    <%= f.button :button, t("devise.registrations.edit.submit"), class: "btn-primary" %>
  </div>
<% end %>
