<p><%= t("devise.mailer.hi", email: @resource.email) %></p>
<p><%= t("devise.mailer.reset.request") %></p>
<p><%= link_to t("devise.mailer.reset.action"), edit_password_url(@resource, reset_password_token: @token) %></p>
<p><%= t("devise.mailer.reset.note_1") %></p>
<p><%= t("devise.mailer.reset.note_2") %></p>
