<% assets_name ||= "application" %>
<title><%= content_for?(:title) ? sanitize("#{yield(:title)} — HR") : "HR" %></title>
<%= csrf_meta_tags %>
<meta charset="utf-8"/>
<%= stylesheet_link_tag    assets_name, media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag assets_name, "data-turbolinks-track" => true %>
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
<meta content="width=device-width, user-scalable=0, initial-scale=1, maximum-scale=1" name="viewport"/>
<meta content="user-scalable=0, initial-scale=1, maximum-scale=1" media="(device-height: 568px)" name="viewport"/>
<meta content="<%= I18n.locale %>" name="locale"/>
<meta content="<%= root_path %>" name="root_url"/>
<meta content="yes" name="apple-mobile-web-app-capable"/>
<meta content="black" name="apple-mobile-web-app-status-bar-style"/>
<meta content="HR" name="apple-mobile-web-app-title"/>
<link href="/favicon.ico" rel="shortcut icon"></link>
<link href="/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144"></link>
<link href="/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon-precomposed" sizes="114x114"></link>
<link href="/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon-precomposed" sizes="72x72"></link>
<link href="/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon-precomposed"></link>
<% if content_for?(:head) %>
  <%= yield(:head) %>
<% end %>